<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<div class="container" style="padding-top: 13px; padding-bottom: 20px;">
  <div class="inner-container">
    <div class="mybreadcrumb"><a href="/">Home</a> > <a href="/myevents">My Events</a> > <span>{{wordLimit event.event_name}}</span></div>
  </div>
</div>
<div class="vendor_profile_info">
    <div class="event_profile">
        <img src="/images/event/user_img.jpg"/>
        <div class="event_title">
            {{wordLimit event.event_name}}
            <div class="days">{{days}} days to go</div>
        </div>
    </div>
</div>
<div class="container" style="padding-top: 103px;">
    <div class="inner-container">
        <div class="vdetail-bottom-section">
			{{#if event.is_owner}}
				<a href="javascript:void(0);" class="invite_collab"><img src="/images/event/invite_collab.png">Invite Collaborators</a>
			{{/if}}
        </div>
        <div class="event-gallery-section">
            <div id="tabs">
              <ul>
                <li><a href="#tabs-1">Dashboard</a></li>
                <li><a href="#tabs-2">Checklist</a></li>
                <li><a href="#tabs-3">Shortlist</a></li>
                <li><a href="#tabs-4">Finalized Vendors</a></li>
				{{#if event.is_owner}}
					<li><a href="#tabs-5">Collaborators</a></li>
				{{/if}}
              </ul>
              <div id="tabs-1">
                {{# if wallCount}}
                  {{#wallactivity}}
                      <div class="activity">
                          {{activity}}
                          <div class="activity-time">{{activityDate}}</div>
                      </div>
                  {{/wallactivity}}
                {{else}}
					<div class="emptyView">
						<img src="/images/empty_dashboard.png">
						<div class="empty-event-msg">No activity found!</div>
					</div>
                {{/if}}
              </div>

              <div id="tabs-2">
                <div class="checklist">
					<div class="checklist_success">Checklist Updated!</div>
					<div id="wait" style="display:none;width:69px;height:89px;z-index:1;opacity:1;position:absolute;top:80%;left:45%;padding:2px;">
						<img src='/images/loader.png' width="64" height="64" />
					</div>
					{{#each checklist}}
					<div class="checklist-item {{addBorderClass @index this.count}}">
						<label class="control control--checkbox {{event_id}}">{{checklist_name}}
						<input type="checkbox" {{checklistSelectedValue this.is_finished}} class="checklist_item" data-event-id="{{event_id}}" data-event-cat-id="{{event_category_id}}" name="checklist_item[]" value="{{id}}"/>
						<div class="control__indicator"></div>
						</label>
					</div>
					{{/each}}
				</div>
              </div>

              <div id="tabs-3">
                {{# if shortCount}}
                  <div class="shortlist">
                  {{#each shortlistVendors}}
                    {{#checkEvenMod @index}}
                    <div class="shortlist-vendor short-{{vendor_id}} even">
                    {{/checkEvenMod}}
                    {{#checkOddMod @index}}
                    <div class="shortlist-vendor short-{{vendor_id}} odd">
                    {{/checkOddMod}}
                      <div class="shortVendorImage"><a href="/vendors/detail/{{vendor_slug}}"><img src="{{vendor_image}}"/></a></div>
                      <div class="shortVendorInfo">
                        <div class="shortvendor-title"><a href="/vendors/detail/{{vendor_slug}}">{{vendor_title}}</a></div>
                        <div class="shortvendor-loc"><img src="/images/location-icon.png"/>{{location}}</div>
                      </div>
                      <div class="actBtns">
                        <div class="finalizeBtn">
                          <a href="javascript:void(0);" class="finalized" data-vendor-id="{{vendor_id}}" data-event-id="{{event_id}}" data-user-id="{{user_id}}">Finalize</a>
                        </div>
                        <div class="cancelShortBtn">
                          <a href="javascript:void(0);" class="cancelShort" data-vendor-id="{{vendor_id}}" data-event-id="{{event_id}}" data-user-id="{{user_id}}">Cancel</a>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                  </div>
				<div class="emptyView">
					<a href="/vendors" class="noevent-btn"><img src="/images/search_vendor_bttn.png"/></a>
				</div>
                {{else}}
					<div class="emptyView">
						<img src="/images/empty_shortlist.png">
						<div class="empty-event-msg">No Shortlisted Vendors Found!</div>
						<a href="/vendors" class="noevent-btn"><img src="/images/search_vendor_bttn.png"/></a>
					</div>
                {{/if}}
              </div>
              <div id="tabs-4">
                {{# if finalCount}}
                  <div class="shortlist">
                  {{#each finalizedVendors}}
                    {{#checkEvenMod @index}}
                    <div class="shortlist-vendor short-{{vendor_id}} even">
                    {{/checkEvenMod}}
                    {{#checkOddMod @index}}
                    <div class="shortlist-vendor short-{{vendor_id}} odd">
                    {{/checkOddMod}}
                      <div class="shortVendorImage"><a href="/vendors/detail/{{vendor_slug}}"><img src="{{vendor_image}}"/></a></div>
                      <div class="shortVendorInfo">
                        <div class="shortvendor-title"><a href="/vendors/detail/{{vendor_slug}}">{{vendor_title}}</a></div>
                        <div class="shortvendor-loc"><img src="/images/location-icon.png"/>{{location}}</div>
                      </div>
                      <div class="actBtns">
                        <div class="cancelFinalBtn">
                          <a href="javascript:void(0);" class="cancelFinal" data-vendor-id="{{vendor_id}}" data-event-id="{{event_id}}" data-user-id="{{user_id}}">Cancel</a>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                  </div>
                {{else}}
					<div class="emptyView">
						<img src="/images/empty_finaized.png">
						<div class="empty-event-msg">No Finalized Vendors Found!</div>
					</div>
                {{/if}}
              </div>

			  {{#if event.is_owner}}
              <div id="tabs-5">
                {{#if collabCount }}
					<div class="myevents">
                      {{#each collaborator}}
                        <div class="event col-{{id}} odd">
                          <div class="event-content">
                            <div class="sub-title">{{trimString this.name}}</div>
                            <div class="left">
                              <div class="name">{{this.name}}</div>
                            </div>
                            <div class="right">
                              <a href="javascript:void(0);" class="remove-collaborator" data-colb-id="{{id}}" data-col-email="{{email}}" data-event-id="{{event_id}}" data-user-id="{{user_id}}">Delete</a>
                            </div>
                          </div>
                        </div>
                      {{/each}}
					</div>
                  {{else}}
					<div class="emptyView">
						<img src="/images/empty_collab.png">
						<div class="empty-event-msg">No Collaborators Found!</div>
						<a href="javascript:void(0);" class="invite_collab"><img src="/images/collab_bttn.png"/></a>
					</div>
                  {{/if}}
              </div>
			  {{/if}}
            </div>
        </div>
    </div>
</div>

<!-- Collaborator Invitation Modal -->
<div class="modal fade" id="inviteCollaborator">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <div class="forgot-title">Add a Collaborator</div>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <form name="add-collaborator" id="add-collaborator" method="post">
        <div class="modal-body">
          <div class="addCollab-danger alert alert-danger" style="display:none;">Please enter the email!</div>
          <div class="form-group">
            <input type="email" class="form-control inputbox" name="col_email" id="col_email" placeholder="Email" required>
            <input type="hidden" name="event_id" id="event_id" value="{{event.event_id}}">
            <input type="hidden" name="user_id" id="user_id" value="{{event.user_id}}">
          </div>
        </div>

        <!-- button -->
        <div class="modal-footer myfooter">
          <input type="submit" class="btn btn-primary btn-block btn-login" value="Submit" />
        </div>
      </form>

    </div>
  </div>
</div>
<!-- Collaborator Invitation Modal Ends -->

<!-- Collaborator Invitation Success Modal -->
<div class="modal fade" id="collaborator_success_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <div class="modal-body">
        <img src="/images/message.png"/>
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <p class="great">Great!</p>
        <p class="great_msg">Collaborator Invited Successfully!</p>
      </div>
    </div>
  </div>
</div>
<!-- Collaborator Invitation Success Modal Ends -->

<script>
$( function() {
    $( "#tabs" ).tabs();
} );

<!-- finalized function call -->
jQuery('.finalized').on('click', function(){
  var vendorId = jQuery(this).data('vendor-id');
  var eventId = jQuery(this).data('event-id');
  var userId = jQuery(this).data('user-id');
  var data = {
    vendor_id : vendorId,
    user_id : userId,
    event_id : eventId
  };

  $.ajax({
    type: 'POST',
    data: data,
    url: '/vendors/make-finalize',
    success: function(data) {
      if(data.status == true){
        $('.short-'+vendorId).remove();
		window.location.reload();
      }
    }
  });
});
<!-- finalized function call ends -->

<!-- unshortlist function call -->
jQuery('.cancelShort').on('click', function(){
  var vendorId = jQuery(this).data('vendor-id');
  var eventId = jQuery(this).data('event-id');
  var userId = jQuery(this).data('user-id');
  var data = {
    vendor_id : vendorId,
    user_id : userId,
    event_id : eventId
  };

  $.ajax({
    type: 'POST',
    data: data,
    url: '/vendors/unshortlist',
    success: function(data) {
      if(data.status == true){
        $('.short-'+vendorId).remove();
		window.location.reload();
      }
    }
  });
});
<!-- unshortlist function call ends -->

<!-- unfinalize function call -->
jQuery('.cancelFinal').on('click', function(){
  var vendorId = jQuery(this).data('vendor-id');
  var eventId = jQuery(this).data('event-id');
  var userId = jQuery(this).data('user-id');
  var data = {
    vendor_id : vendorId,
    user_id : userId,
    event_id : eventId
  };

  $.ajax({
    type: 'POST',
    data: data,
    url: '/vendors/unfinalize',
    success: function(data) {
      if(data.status == true){
        $('.short-'+vendorId).remove();
		window.location.reload();
      }
    }
  });
});
<!-- unfinalize function call ends -->

<!-- invite collaborator function call -->
jQuery('.invite_collab').on('click', function(){
  $('#inviteCollaborator').modal('show');
});

jQuery('#add-collaborator').submit(function(e) {
    e.preventDefault();
    var colEmail = $('#col_email').val();
    var eventId = $('#event_id').val();
    var userId = $('#user_id').val();

    if(colEmail == ''){
        $('.addCollab-danger').css('display', 'block');
        $('.addCollab-danger').focus();
    }else{
        var vendorId = jQuery('#vendor_id').val();
        var userId = jQuery('#user_id').val();
        var myData = {
          'user_id': userId,
          'event_id': eventId,
          'col_email': colEmail
        };
        jQuery.ajax({
            type: 'POST',
            data: myData,
            dataType: 'json',
            url: '/myevents/add-collaborator',
            success: function(data){
                if(data.status == true){
                    $('#inviteCollaborator').modal('hide');
                    $('#add-collaborator')[0].reset();
                    $('#collaborator_success_modal').modal('show');
                    setTimeout(function(){
                      location.reload();
                    }, 2000);
                }else{
                    $('.addCollab-danger').html(data.message);
                    $('.addCollab-danger').css('display', 'block');
                    $('.addCollab-danger').focus();
                    /*$('#inviteCollaborator').modal('hide');
                    $('#add-collaborator')[0].reset();
                    $('#collaborator_success_modal modal-body').html('<img src="/images/message.png"/>');
                    $('#collaborator_success_modal .great_msg').html(data.message);
                    $('#collaborator_success_modal .great').html('Oops!');
                    $('#collaborator_success_modal').modal('show');
                    setTimeout(function(){
                        $('#collaborator_success_modal').modal('hide');
                    }, 2000);*/
                }
            }
        });
    }
});
<!-- invite collaborator function call ends -->

<!-- remove collaborator function call -->
jQuery('.remove-collaborator').on('click', function(){
  var colbId = jQuery(this).data('colb-id');
  var userId = jQuery(this).data('user-id');
  var eventId = jQuery(this).data('event-id');
  var colEmail = jQuery(this).data('col-email');
  var myData = {
    'user_id': userId,
    'event_id': eventId,
    'col_email': colEmail
  };
  jQuery.ajax({
      type: 'POST',
      data: myData,
      dataType: 'json',
      url: '/myevents/removeCollaborator',
      success: function(data){
          if(data.status == true){
            jQuery('.col-'+colbId).remove();
			window.location.reload();
          }
      }
  });
});
<!-- remove collaborator function call ends -->

<!-- select checklist function call -->
jQuery('.checklist_item').on('click', function(){
	var eventId = jQuery(this).data('event-id');
	var eventCatId = jQuery(this).data('event-cat-id');
	var checklistId = jQuery(this).val();
	var data = {
		event_id : eventId,
		event_category_id : eventCatId,
		checklist_id : checklistId
	};

	$.ajax({
		type: 'POST',
		data: data,
		url: '/myevents/postChecklist',
		beforeSend: function(){
			jQuery('#wait').css('display','block');
		},
		success: function(data) {
			if(data.status == true){
				jQuery(".checklist_success").show();
				setTimeout(function(){
					jQuery(".checklist_success").hide();
				}, 5000);
			}else{
			}
		},
		complete: function(){
			jQuery('#wait').css('display','none');
		}
	});
});
<!-- select checklist function call ends -->
</script>