<!DOCTYPE html>
<html>
<head>
	<title>WeddingApp</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/BootSideMenu.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all">
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="js/jquery.timepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jquery.timepicker.css" />
</head>
<body>
<div class="navbar-wrapper other-pages">
<div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <a href="/"><img src="/images/logo2.png" alt="Event App"></a>
            </div>
        </div>
    </nav>
</div>
</div>

<div id="demo">
  <div class="list-group">
    <a href="javascript:void(0);" class="list-group-item" id="create-event">Create Event</a>
    <a href="/" class="list-group-item">Home</a>
	{{#if user}}
      <a href="/users/profile" class="list-group-item">Profile</a>
      <a href="javascript:void(0);" class="list-group-item" data-toggle="modal" data-target="#change_password">Change Password</a>
      <a href="/users/logout" class="list-group-item">Logout</a>
    {{else}}
      <a href="javascript:void(0);" class="list-group-item" id="login-menu">Sign In/Sign Up</a>
    {{/if}}
    <a href="/vendors" class="list-group-item">Vendors</a>
    {{#if user}}
      <a href="/myevents" class="list-group-item">My Events</a>
    {{/if}}
    <!--<a href="#" class="list-group-item">Blog</a>
    <a href="#" class="list-group-item">Contact</a>-->
  </div>
</div>

<!-- Create Event modal -->
<div class="modal fade" id="createEvent">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <div class="forgot-title">Add an Event</div>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <form name="createEventForm" id="createEventForm" method="post">
      <div class="modal-body">
          <div class="cevent-danger alert alert-danger" style="display:none;"></div>
          <div class="cevent-success alert alert-success" style="display:none;"></div>
          <div class="form-group">
            <input type="text" class="form-control inputbox" name="event_name" id="event_name" placeholder="Event Name" required maxlength="50">
          </div>
          <div class="form-group">
            <select class="form-control selectbox" name="event_type" id="event_type" placeholder="Event Type" required>
            <option value="">Event Type</option>
            {{#each eventTypes}}
              <option value="{{this.id}}">{{this.category_name}}</option>
            {{/each}}
            </select>
          </div>
          <div class="form-group">
            <select class="form-control selectbox" name="event_location" id="event_location" placeholder="Location" required>
            <option value="">Locations</option>
            {{#each locations}}
              <option value="{{this.id}}">{{this.location}}</option>
            {{/each}}
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control inputbox" name="event_start_date" id="event_start_date" placeholder="Event Start Date" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control inputbox" name="event_start_time" id="event_start_time" placeholder="Event Start Time" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control inputbox" name="event_end_date" id="event_end_date" placeholder="Event End Date" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control inputbox" name="event_end_time" id="event_end_time" placeholder="Event End Time" required>
          </div>
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <input type="submit" class="btn btn-primary btn-block btn-login" value="Create Event" />
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Create Event modal ends -->

<!-- Signin modal -->
<div class="modal fade" id="login">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="signin active" href="javascript:void(0);">Sign in</a>
        <a class="signup" href="javascript:void(0);">Sign up</a>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <form name="loginform" id="loginform" method="post">
      <div class="modal-body">
          <div class="form-group fb">
            <a href="/users/facebook"><img src="/images/fb_icon.png"><span>FACEBOOK</span></a>
            <a href="/users/google"><img src="/images/google.png"><span>GOOGLE</span></a>
          </div>
          <div class="form-group more">
            <div>OR</div>
          </div>
          <div class="login-danger alert alert-danger" style="display:none;"></div>
          <div class="login-success alert alert-success" style="display:none;"></div>
          <div class="form-group">
            <input type="email" class="form-control inputbox" name="username" id="username" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control inputbox" name="password" id="password" placeholder="Password" required minlength="6">
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="remember_me" id="remember_me" value="yes">Remember me</label>
            <div class="forgot"><a class="forgot_pass" href="javascript:void(0);">Forgot your password?</a></div>
          </div>
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <input type="submit" class="btn btn-primary btn-block btn-login" value="Get to the Event App"/>
        <p>By Signing in you agree to our <a href="#">T&C</a> and <a href="#">Privacy Policy.</a><p>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Signin modal ends -->

<!-- Signup modal -->
<div class="modal fade" id="signup">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <a class="signin" href="javascript:void(0);">Sign in</a>
        <a class="signup active" href="javascript:void(0);">Sign up</a>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <div class="signup-type">
        <a class="active" href="javascript:void(0);" id="user" data-user-type="1">Join as a User</a>
        <a href="javascript:void(0);" id="vendor" data-user-type="2">Join as a Vendor</a>
      </div>
      <form name="signupform" id="signupform" method="post">
      <div class="modal-body">
          <input type="hidden" name="user_type" id="user_type" value="1">
          <div class="form-group fb">
            <a href="/users/facebook/{{ip}}"><img src="/images/fb_icon.png"><span>FACEBOOK</span></a>
            <a href="/users/google/{{ip}}"><img src="/images/google.png"><span>GOOGLE</span></a>
          </div>
          <div class="form-group more">
            <div>OR</div>
          </div>
          <div class="signup-danger alert alert-danger" style="display:none;"></div>
          <div class="signup-success alert alert-success" style="display:none;"></div>
          <div class="form-group">
            <input type="name" class="form-control inputbox" name="name" placeholder="Name" maxlength="25" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control inputbox" name="email" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control inputbox" name="password" id="regpassword" placeholder="Password" required minlength="6">
          </div>
          <div class="form-group">
            <input type="password" class="form-control inputbox" name="password2" id="password2" placeholder="Confirm Password" required>
          </div>
          <input type="hidden" name="ip_address" id="ip_address" value="{{ip}}">
          <input type="hidden" name="latitude" id="latitude" value="">
          <input type="hidden" name="longitude" id="longitude" value="">
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <input type="submit" class="btn btn-primary btn-block btn-login" value="Create Your Account" onclick="return verifyPassword()"/>
        <p>By Signing in you agree to our <a href="/terms-and-conditions" target="_blank">T&C</a> and <a href="/privacy-policy" target="_blank">Privacy Policy.</a><p>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Signup modal ends -->

<!-- Forgot Password modal -->
<div class="modal fade" id="forgotpassword">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <div class="forgot-title">Forgot Password?</div>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <form name="forgotform" id="forgotform" method="post">
      <div class="modal-body">
          <div class="forgot-danger alert alert-danger" style="display:none;"></div>
          <div class="forgot-success alert alert-success" style="display:none;"></div>
          <div class="form-group forgot-label">Enter your email below to retrieve your account</div>
          <div class="form-group">
            <input type="email" class="form-control inputbox" name="email" id="forgot_email" placeholder="e.g john@gmail.com" required>
          </div>
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <input type="submit" class="btn btn-primary btn-block btn-login" value="Password Reset" />
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Forgot Password modal ends -->

<!-- Forgot Password Email Sent Modal -->
<div class="modal fade" id="forgot_password_email_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <div class="modal-body">
        <img src="/images/message.png"/>
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <p class="great">Great!</p>
        <p class="great_msg">Email has been sent on your email to reset the password!</p>
      </div>
    </div>
  </div>
</div>

<!-- Forgot Password Email Sent Modal Ends -->

<!-- Link Expire Modal -->
<div class="modal fade" id="link_expire_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <div class="modal-body">
        <img src="/images/link_icon.png"/>
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <p class="great">Oops!</p>
        <p class="great_msg">Your link has been expired!</p>
      </div>
    </div>
  </div>
</div>

<!-- Link Expire Modal Ends -->

<!-- Change Password modal -->
<div class="modal fade" id="change_password">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <div class="forgot-title">Change Password</div>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <form name="changePassword" id="changePassword" method="post">
      <div class="modal-body">
          <div class="changepass-danger alert alert-danger" style="display:none;"></div>
          <div class="changepass-success alert alert-success" style="display:none;"></div>
          <div class="form-group">
            <input type="hidden" name="id" value="{{id}}">
            <input type="hidden" name="email" id="email" value="{{email}}">
            <input type="password" class="form-control inputbox" name="old_password" id="old_password" placeholder="Old Password" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control inputbox" name="new_password" id="new_password" placeholder="New Password" required>
          </div>
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <input type="submit" class="btn btn-primary btn-block btn-login" value="Change Password"/>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Change Password Modal Ends -->

{{{body}}}


<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="policy">
      <p class="pull-right"><a href="javascript:void(0);" id="back-to-top">Back to top</a></p>
      <p>EventApp - Created by <a href="#">ThoughtHeads</a>. All rights reserved.</p>
    </div>
    <!--<hr>
    <div class="choose-city">
      <p>Choose Your City</p>
      <ul class="cities">
        <li>Chandigarh</li>
        <li>Delhi</li>
        <li>Mumbai</li>
        <li>Pune</li>
        <li>Indore</li>
        <li>Chennai</li>
      </ul>
    </div>-->
  </div>
</footer>
<!--<div class="subscribe">
  <input type="button" value="Subscribe Now"/>
</div>-->
</body>
<script src="/js/BootSideMenu.js"></script>
<script>
$('#back-to-top').on('click', function (e) {
  e.preventDefault();
  $('html,body').animate({
    scrollTop: 0
  }, 700);
});
$('#loginform').on('submit', function(e){
  e.preventDefault();
  var data = {};
  data.username = $('#username').val();
  data.password = $('#password').val();
  data.remember_me = $('#remember_me').val();
  $.ajax({
    type: 'POST',
    data: data,
    url: '/users/login',
    success: function(data) {
      console.log(data);
      if(data.status == true){
        window.location.reload();
      }else{
        $('.login-success').css('display', 'none');
        $('.login-danger').html(data.message);
        $('.login-danger').css('display', 'block');
        $('.login-danger').focus();
      }
    }
  });
});

$('#createEventForm').on('submit', function(e){
  e.preventDefault();
  var data = $( this ).serialize();

  $.ajax({
    type: 'POST',
    data: data,
    url: '/users/create-event',
    success: function(data) {
      if(data.status == true){
        window.location.reload();
      }else{
        $('.cevent-success').css('display', 'none');
        $('.cevent-danger').html(data.message);
        $('.cevent-danger').css('display', 'block');
        $('.cevent-danger').focus();
      }
    }
  });
});

$(document).on('click', '#login-menu', function(){
    $('.toggler').trigger('click');
    $('#login').modal('show');
});
$('#demo').BootSideMenu({
  side:"right", // left or right
  autoClose:true // auto close when page loads
});
$(document).ready(function() {
    $("#event_start_date").datepicker({
      dateFormat: 'yy-mm-dd',
      minDate: 0
    });
	$(function() {
		$('#event_start_time').timepicker({ 'scrollDefault': 'now' });
    });
    $("#event_end_date").datepicker({
      dateFormat: 'yy-mm-dd',
      minDate: 0
    });
	$(function() {
		$('#event_end_time').timepicker({ 'scrollDefault': 'now' });
    });
});
</script>
{{#if user}}
  <script>
    $(document).on('click', '#create-event', function(){
      $('.toggler').trigger('click');
      $('#createEvent').modal('show');
    });
  </script>
{{else}}
  <script>
    $(document).on('click', '#create-event', function(){
      $('.toggler').trigger('click');
      $('#login').modal('show');
    });
  </script>
{{/if}}
<script>
$('#search_vendors').on('click', function(){
	var vendorCategory = $('#vendor_category').val();
	var city = $('#city').val();
	if(vendorCategory != '' && city != ''){
		var catName = $("#vendor_category option:selected").text();
		var cityName = $("#city option:selected").text();
		window.location.href = '/search/?category='+catName+'&city='+cityName;
	}
});

$('.signin').on('click', function() {
  if(!$(this).hasClass('active')) {
    $('#signup').modal('hide');
    $('#login').modal('show');
  }
});

$('.signup').on('click', function() {
  if(!$(this).hasClass('active')) {
    $('#login').modal('hide');
    $('#signup').modal('show');
  }
});

$('.forgot_pass').on('click', function() {
  $('#login').modal('hide');
  $('#forgotpassword').modal('show');
});

$('#forgotform').on('submit', function(e){
  e.preventDefault();
  var data = {};
  data.email = $('#forgot_email').val();
  $.ajax({
    type: 'POST',
    data: data,
    url: '/users/forgotpassword',
    success: function(data) {
      console.log(data);
      if(data.status == true){
        $('#forgotpassword').modal('hide');
        $('#forgot_password_email_modal').modal('show');
        setTimeout(function(){
          $('#forgot_password_email_modal').modal('hide');
        }, 5000);
      }else{
        $('.forgot-success').css('display', 'none');
        $('.forgot-danger').html(data.message);
        $('.forgot-danger').css('display', 'block');
		setTimeout(function() {
			$('.forgot-danger').css('display', 'none');
		}, 5000);
        $('.forgot-danger').focus();
      }
    }
  });
});
</script>

</html>