<!DOCTYPE html>
<html>
<head>
	<title>WeddingApp</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/BootSideMenu.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all">
  <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
<div class="navbar-wrapper other-pages">
<div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <a href="/"><img src="/images/logo2.png" alt="Event App"></a>
			{{#if user}}
			  <a class="plain-link" href="/users/logout">Logout</a>
			{{else}}
			  <a class="plain-link" href="javascript:void(0);" id="login-menu">Sign In/Sign Up</a>
			{{/if}}
            </div>
        </div>
    </nav>
</div>
</div>

<!--<div id="demo">
  <div class="list-group">
    <a href="javascript:void(0);" class="list-group-item" id="create-event">Create Event</a>
    <a href="/" class="list-group-item">Home</a>
	{{#if user}}
      <a href="/users/profile" class="list-group-item">Profile</a>
      <a href="javascript:void(0);" class="list-group-item" data-toggle="modal" data-target="#change_password">Change Password</a>
      <a href="/users/logout" class="list-group-item">Logout</a>
    {{else}}
      <a href="javascript:void(0);" class="list-group-item" id="login-menu">Sign In/Sign Up</a>
    {{/if}}
    <a href="/vendors" class="list-group-item">Vendors</a>
    {{#if user}}
      <a href="/myevents" class="list-group-item">My Events</a>
    {{/if}}
    <a href="#" class="list-group-item">Blog</a>
    <a href="#" class="list-group-item">Contact</a>
  </div>
</div>-->

<!-- Signin modal -->
<div class="modal fade" id="login">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="signin active" href="javascript:void(0);">Sign in</a>
        <a class="signup" href="javascript:void(0);">Sign up</a>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <form name="loginform" id="loginform" method="post">
      <div class="modal-body">
          <div class="form-group fb">
            <a href="/users/facebook"><img src="/images/fb_icon.png"><span>FACEBOOK</span></a>
            <a href="/users/google"><img src="/images/google.png"><span>GOOGLE</span></a>
          </div>
          <div class="form-group more">
            <div>OR</div>
          </div>
          <div class="login-danger alert alert-danger" style="display:none;"></div>
          <div class="login-success alert alert-success" style="display:none;"></div>
          <div class="form-group">
            <input type="email" class="form-control inputbox" name="username" id="username" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control inputbox" name="password" id="password" placeholder="Password" required minlength="6">
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="remember_me" id="remember_me" value="yes">Remember me</label>
            <div class="forgot"><a class="forgot_pass" href="javascript:void(0);">Forgot your password?</a></div>
          </div>
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <input type="submit" class="btn btn-primary btn-block btn-login" value="Get to the Event App"/>
        <p>By Signing in you agree to our <a href="#">T&C</a> and <a href="#">Privacy Policy.</a><p>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Signin modal ends -->

<!-- Change Password modal -->
<div class="modal fade" id="change_password">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <div class="forgot-title">Change Password</div>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <form name="changePassword" id="changePassword" method="post">
      <div class="modal-body">
          <div class="changepass-danger alert alert-danger" style="display:none;"></div>
          <div class="changepass-success alert alert-success" style="display:none;"></div>
          <div class="form-group">
            <input type="hidden" name="id" value="{{id}}">
            <input type="hidden" name="email" id="email" value="{{email}}">
            <input type="password" class="form-control inputbox" name="old_password" id="old_password" placeholder="Old Password" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control inputbox" name="new_password" id="new_password" placeholder="New Password" required>
          </div>
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <input type="submit" class="btn btn-primary btn-block btn-login" value="Change Password"/>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Change Password Modal Ends -->

{{{body}}}


<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="policy">
      <p class="pull-right"><a href="javascript:void(0);" id="back-to-top">Back to top</a></p>
      <p>EventApp - Created by <a href="#">ThoughtHeads</a>. All rights reserved.</p>
    </div>
  </div>
</footer>
<!--<div class="subscribe">
  <input type="button" value="Subscribe Now"/>
</div>-->
</body>
<script>
$('#back-to-top').on('click', function (e) {
  e.preventDefault();
  $('html,body').animate({
    scrollTop: 0
  }, 700);
});
$('#loginform').on('submit', function(e){
  e.preventDefault();
  var data = {};
  data.username = $('#username').val();
  data.password = $('#password').val();
  data.remember_me = $('#remember_me').val();
  $.ajax({
    type: 'POST',
    data: data,
    url: '/users/login',
    success: function(data) {
      console.log(data);
      if(data.status == true){
        window.location.reload();
      }else{
        $('.login-success').css('display', 'none');
        $('.login-danger').html(data.message);
        $('.login-danger').css('display', 'block');
        $('.login-danger').focus();
      }
    }
  });
});

</script>
<script>
$('#search_vendors').on('click', function(){
	var vendorCategory = $('#vendor_category').val();
	var city = $('#city').val();
	if(vendorCategory != '' && city != ''){
		var catName = $("#vendor_category option:selected").text();
		var cityName = $("#city option:selected").text();
		window.location.href = '/search/?category='+catName+'&city='+cityName;
	}
});
</script>

</html>