<div class="container" style="padding-top: 103px;">
  <div class="inner-container">
    <div class="mybreadcrumb">Home > <span>My Events</span></div>
    <div class="page-title">
    	<div class="img"><img src="/images/home-icon.png"/></div>
	    <div class="title">My Events - <span>{{{count}}} results</span></div>
    </div>

    <div class="myevents">
    	{{#if user }}
	    	{{#if count }}
		    	{{#each myEvents}}
			    	<div class="event odd">
			    		<div class="event-content">
				    		<div class="sub-title">{{trimString this.event_name}}</div>
				    		<div class="left">
					    		<div class="name">{{wordLimit this.event_name}}</div>
					    		<div class="city">{{this.location}}</div>
					    		<div class="title">{{this.category_name}} , {{this.eventDate}}</div>
					    	</div>
					    	<div class="right">
					    		<a href="/myevents/detail/{{this.event_slug}}">View Event</a>
					    	</div>
				    	</div>
			    	</div>
			    {{/each}}
			{{else}}
				<div class="emptyView">
					<img src="/images/event-empty.png">
					<div class="oops">Oops!</div>
					<div class="empty-event-msg">It looks like you have not added any event yet.</div>
					<a href="javascript:void(0);" class="noevent-btn" data-toggle="modal" data-target="#createEvent"><img src="/images/add_bttn.png"/></a>
				</div>
			{{/if}}
		{{else}}
			<div class="emptyView">
				<img src="/images/event-empty.png">
				<div class="oops">Oops!</div>
				<div class="empty-event-msg">It looks like you are not logged in.</div>
				<a href="javascript:void(0);" class="noevent-btn" data-toggle="modal" data-target="#login"><img src="/images/add_bttn.png"/></a>
			</div>
		{{/if}}
    </div>
  </div>
</div>