<div class="container" style="padding-top: 103px;">
  <div class="inner-container">
    <div class="mybreadcrumb"><a href="/">Home</a> > <span>Vendors</span></div>
    <div class="vendor_filter">
		<select name="category" class="vendor" id="vendor_category">
			<option value="">Select Vendor Category</option>
			{{# each vendorCat}}
				<option value="{{this.vendor_category_id}}">{{this.category_name}}</option>
			{{/each}}
    	</select>
		<select name="city" class="city" id="city">
			<option value="">Select City</option>
			{{# each locations}}
				<option value="{{this.id}}">{{this.location}}</option>
			{{/each}}
    	</select>
    	<input type="button" class="filter_result" id="search_vendors" value="Search Vendors" />
    </div>
    {{#each vendorCat}}
        <div class="page-title">
            <div class="img"><img src="{{category_icon}}"/></div>
            <div class="title">{{category_name}}</div>
            <div class="seeAll">
                <a href="/vendors/category/{{category_slug}}"><span>See All</span></a>
                <!--<img src="/images/left_arrow.png" class="arrow-left">
                <img src="/images/arrow_right.png" class="arrow-right">-->
            </div>
        </div>
        <div class="row vendor-cat">
				<div class="col-lg-3">
					<img class="vendor-ftr" src="/images/img.png">
					<div class="vendor-info">
						<div class="vendor-name">{{ven.vendor_title}}</div>
						<div class="vendor-loc"><img src="/images/location-icon.png"/>Chandigarh</div>
						<div class="vendor-budget"><img src="/images/rupee_icon.png"/>1300-1600</div>
						<div class="vendor-rating">Ratings</div>
					</div>
				</div>
        </div>
    {{/each}}
  </div>
</div>