<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<style>
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
	margin-right: -130px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<div class="container" style="padding-top: 13px; padding-bottom: 20px;">
  <div class="inner-container">
    <div class="mybreadcrumb"><a href="/">Home</a> > <a href="/vendors">Vendors</a> > <span>{{vendor.vendor_title}}</span></div>
  </div>
</div>
<div class="vendor_profile_info">
    <div class="vendor_profile">
        <img src="{{vendor.vendor_image}}"/>
        <div class="vendor_title">{{vendor.vendor_title}}<br/><span>{{vendor.location}}</span></div>
        <div class="vendor_rating" id="vendor_rating">
			{{#each vendor.ratingArray}}
				{{#fillOrblank this}}
					<img src="/images/fill_star.png">
					<!--<img src="/images/fill_star.png" data-img="fill_star" id="star_{{counter @index}}" class="star">-->
				{{else}}
					<img src="/images/blank_star.png">
					<!--<img src="/images/blank_star.png" data-img="blank_star" id="star_{{counter @index}}" class="star">-->
				{{/fillOrblank}}
			{{/each}}
		</div>
        <!--<span class="rating">
            <span class="star">★★★★★</span>
        </span>-->
    </div>
</div>
<div class="container" style="padding-top: 103px;">
    <div class="inner-container">
        <div class="vdetail-bottom-section">
            <a href="javascript:void(0);" class="shortlist" data-vendor-id="{{vendor.vendor_id}}" data-user-id="{{userId}}"><img src="/images/vendor/shortlist_icon.png">Shortlist</a>

            <!--<a href=""><img src="/images/vendor/msg_icon.png">Message</a>-->
            <a href="javascript:void(0);" class="add_review"><img src="/images/vendor/review_icon.png">Add a Review</a>
            <a href="javascript:void(0);" class="favorite" data-vendor-id="{{vendor.vendor_id}}" data-user-id="{{userId}}">
            {{# if isFav}}
                <img src="/images/vendor/heart-filled.png" class="fav_image">
            {{else}}
                <img src="/images/vendor/heart-stroke.png" class="fav_image">
            {{/if}}
            Favourite</a>
        </div>
        <div class="gallery-section">
            <div id="tabs">
				<ul>
					<li><a href="#tabs-1">Info</a></li>
					<li><a href="#tabs-2">Gallery</a></li>
					<li><a href="#tabs-3">Reviews</a></li>
					<li><a href="#tabs-4">Promotions</a></li>
				</ul>
				<div id="tabs-1">
					<div class="vendor-detail-info">
						{{#each pricing}}
						<div class="vendor-info-section">
							<div class="info-title">{{category_name}}</div>
							<div class="info-desc">{{min_price}}-{{max_price}}</div>
						</div>
						{{/each}}
					</div>
				</div>

				<div id="tabs-2">
					<div class="vendor-gallery">
						<div class="album-list-view">
						<ul>
							{{#each albums}}
							<li>
								{{#if images}}
									<div class="album" style="display:inline-block;" data-album-id="{{this.id}}"><img width="162" height="162" src="/{{getFirstImage this.images}}"></div>
								{{else}}
									<div class="album" style="display:inline-block;" data-album-id="{{this.id}}"><img width="162" height="162" src="/images/album_box.png"></div>
								{{/if}}
								<div class="album-title" data-album-id="{{this.id}}">{{this.album_name}}</div>
								<div class="image-count">{{count}} Photos</div>
							</li>
							{{/each}}
						</ul>
						{{#each albums}}
							<div class="album-view album-{{this.id}}" style="display:none;">
								{{#each this.img}}
									<img width="162" height="162" src="/{{this}}">
								{{/each}}
								<div style="padding-top:10px;"><input type="button" name="cancel" class="cancel-images" data-album-id="{{this.id}}" value="Back"></div>
							</div>
						{{/each}}
						</div>
					</div>
				</div>

				<div id="tabs-3">
                {{# if reviewsFound}}
                    {{#reviews}}
                        <div class="vendor-review">
                            <div class="user-info">
                                <div class="img-info">
                                    {{# if image}}
                                        <img src="{{image}}"/>
                                    {{else}}
                                        <img src="/images/user-default.jpg"/>
                                    {{/if}}
                                    <div class="review-date">{{reviewDate}}</div>
                                </div>
                                <div class="title">
                                    <div class="name">{{name}}</div>
                                    <div class="folower-info">1 Review, 0 Followers</div>
                                </div>
                                <div class="rated">Rated <span>{{rating}}</span></div>
                            </div>
                            <div class="comment">{{review}}</div>
                        </div>
                    {{/reviews}}
                {{else}}
                    <div class="no-review">No Review Found!</div>
                {{/if}}
				</div>

				<div id="tabs-4">
					{{#if promotionCount}}
					{{#each promotions}}
					<button class="accordion">{{this.category_name}}<span style="float:right; margin-right: 30px;">DISCOUNT {{this.discount}}</span></button>
					<div class="panel">
					  <p>{{this.description}}</p>
					</div>
					{{/each}}
					{{else}}
					<div class="emptyView">
						<img src="/images/empty_album_icon.png">
						<div class="oops">Oops!</div>
						<div class="empty-event-msg">It looks like you have not added any promotions.</div>
					</div>
					{{/if}}
				</div>
			</div>
        </div>
        <div class="popular-section">
			<div class="main-title">Popular Vendors</div>
			{{#each popVen}}
				<div class="pop-vendor"><a href="/vendors/detail/{{this.vendor_slug}}"><img src="{{this.vendor_image}}"></a></div>
				<div class="title"><a href="/vendors/detail/{{this.vendor_slug}}">{{this.vendor_title}}</a></div>
				<div class="prop">{{this.location}}</div>
			{{/each}}
        </div>
    </div>
</div>

<!-- Review modal -->
<div class="modal fade" id="vendorReview">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <div class="forgot-title">Write a Review</div>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <form name="addVendorReview" id="addVendorReview" method="post">
      <div class="modal-body">
          <div class="addreview-danger alert alert-danger" style="display:none;">Review can't be blank</div>
          <div class="addrating-danger alert alert-danger" style="display:none;">Please select Rating</div>
          <div class="addreview-success alert alert-success" style="display:none;"></div>
          <div class="form-group">
			<div class="vendor_rating" id="vendor_rating">
				<img src="/images/blank_star.png" data-img="blank_star" id="star_1" class="star">
				<img src="/images/blank_star.png" data-img="blank_star" id="star_2" class="star">
				<img src="/images/blank_star.png" data-img="blank_star" id="star_3" class="star">
				<img src="/images/blank_star.png" data-img="blank_star" id="star_4" class="star">
				<img src="/images/blank_star.png" data-img="blank_star" id="star_5" class="star">
			</div>
          </div>
          <div class="form-group">
            <textarea class="form-control inputbox" name="review" id="review" placeholder="Please write your experience here..."></textarea>
			<input type="hidden" name="review_vendor_id" id="review_vendor_id" value="{{vendor.vendor_id}}">
			<input type="hidden" name="review_user_id" id="review_user_id" value="{{userId}}">
			<input type="hidden" name="rating" id="rating" value="0">
          </div>
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <input type="submit" class="btn btn-primary btn-block btn-login" value="Submit My Review" />
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Review modal ends -->

<!-- Unshortlist Events modal -->
<div class="modal fade" id="unshortlistEvents">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <div class="forgot-title">Which event you want to shortlist for?</div>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      {{# if eventsFound}}
          <form name="shortlist-vendor" id="shortlist-vendor" method="post">
          <div class="modal-body">
              <div class="shortlistEvent-danger alert alert-danger" style="display:none;">Select atleast one event!</div>
              <div class="form-group">
                {{#unshortEvents}}
                  <label class="control control--checkbox {{event_id}}">{{event_name}}
                    <input type="checkbox" name="unshort-events[]" value="{{event_id}}"/>
                    <div class="control__indicator" style="left: 0 !important;"></div>
                  </label>
                {{/unshortEvents}}
                <input type="hidden" name="vendor_id" id="vendor_id" value="{{vendor.vendor_id}}">
                <input type="hidden" name="user_id" id="user_id" value="{{userId}}">
              </div>
          </div>

          <!-- button -->
          <div class="modal-footer myfooter">
            <input type="submit" class="btn btn-primary btn-block btn-login" value="Submit" />
          </div>
          </form>
      {{else}}
          <div class="modal-body">
              <div class="form-group">No Events Found!</div>
          </div>

          <!-- button -->
          <div class="modal-footer myfooter">
          </div>
      {{/if}}
    </div>
  </div>
</div>
<!-- Unshortlist event modal ends -->

<!-- Shortlist Success Modal -->
<div class="modal fade" id="shortlist_success_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <div class="modal-body">
        <img src="/images/message.png"/>
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <p class="great">Great!</p>
        <p class="great_msg">Vendor shortlisted for selected events!</p>
      </div>
    </div>
  </div>
</div>
<!-- Shortlist Success Modal Ends -->

<!-- Review Success Modal -->
<div class="modal fade" id="review_success_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- body -->
      <div class="modal-body">
        <img src="/images/message.png"/>
      </div>

      <!-- button -->
      <div class="modal-footer myfooter">
        <p class="great">Great!</p>
        <p class="great_msg">Review added successfully!</p>
      </div>
    </div>
  </div>
</div>
<!-- Review Success Modal Ends -->

<script>
$( function() {
    $( "#tabs" ).tabs();
} );

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
  	  panel.style.maxHeight = null;
    } else {
  	  panel.style.maxHeight = panel.scrollHeight + 'px';
    } 
  }
}

jQuery('.add_review').on('click', function(){
    {{#if user}}
        $('#vendorReview').modal('show');
    {{else}}
        $('#login').modal('show');
    {{/if}}
});

jQuery('.shortlist').on('click', function(){
    {{#if user}}
        $('#unshortlistEvents').modal('show');
    {{else}}
        $('#login').modal('show');
    {{/if}}
});

jQuery('.favorite').on('click', function(){
    {{#if user}}
        var vendorId = $(this).data('vendor-id');
        var userId = $(this).data('user-id');
        var data = {};
        data.vendor_id = vendorId;
        data.user_id = userId;
        $.ajax({
            type: 'POST',
            data: data,
            url: '/vendors/make-favorite',
            success: function(data){
                if(data.status == true){
                    jQuery('.fav_image').attr('src', '/images/vendor/heart-filled.png');                        
                }else{
                    jQuery('.fav_image').attr('src', '/images/vendor/heart-stroke.png');
                }
            }
        });
    {{else}}
        $('#login').modal('show');
    {{/if}}
});

jQuery('#shortlist-vendor').submit(function(e) {
    e.preventDefault();
    var checkboxes = $('#shortlist-vendor input:checked');

    var eventIds = '';
    checkboxes.each(function() {
        eventIds += jQuery(this).val()+',';
    });
    eventIds = eventIds.substring(0,(eventIds.length-1));
    if(eventIds == ''){
        $('.shortlistEvent-danger').css('display', 'block');
        $('.shortlistEvent-danger').focus();
    }else{
        var vendorId = jQuery('#vendor_id').val();
        var userId = jQuery('#user_id').val();
        var myData = {
          'vendor_id': vendorId,
          'user_id': userId,
          'event_id': eventIds
        };
        jQuery.ajax({
            type: 'POST',
            data: myData,
            dataType: 'json',
            url: '/vendors/make-shortlist',
            success: function(data){
                if(data.status == true){
                    $('#unshortlistEvents').modal('hide');
                    $('#shortlist-vendor')[0].reset();
                    eventIds = eventIds.split(",");
                    $.each(eventIds, function(key,value){
                      $('label[class="control"]').remove();
                    });
                    $('#shortlist_success_modal').modal('show');
                    setTimeout(function(){
                      location.reload();
                    }, 2000);
                }else{
                    $('#unshortlistEvents').modal('hide');
                    $('#shortlist-vendor')[0].reset();
                    $('#shortlist_success_modal modal-body').html('<img src="/images/message.png"/>');
                    $('#shortlist_success_modal .great_msg').html(data.message);
                    $('#shortlist_success_modal .great').html('Oops!');
                    $('#shortlist_success_modal').modal('show');
                    setTimeout(function(){
                        $('#shortlist_success_modal').modal('hide');
                    }, 2000);
					
                }
            }
        });
    }
});

jQuery('#addVendorReview').submit(function(e) {
    e.preventDefault();
    var review = jQuery('#review').val();
    var rating = jQuery('#rating').val();
    if(review == ''){
        $('.addreview-danger').css('display', 'block');
        $('.addreview-danger').focus();
    }else if(rating == 0){
        $('.addrating-danger').css('display', 'block');
	}else{
        var vendorId = jQuery('#review_vendor_id').val();
        var userId = jQuery('#review_user_id').val();
        var myData = {
          'vendor_id': vendorId,
          'user_id': userId,
          'review': review,
		  'rating': rating
        };
        jQuery.ajax({
            type: 'POST',
            data: myData,
            dataType: 'json',
            url: '/vendors/add-review',
            success: function(data){
                if(data.status == true){
                    $('#vendorReview').modal('hide');
                    $('#addVendorReview')[0].reset();
                    $('#review_success_modal').modal('show');
                    setTimeout(function(){
                      location.reload();
                    }, 2000);
                }else{
                    $('#vendorReview').modal('hide');
                    $('#addVendorReview')[0].reset();
                    $('#review_success_modal modal-body').html('<img src="/images/message.png"/>');
                    $('#review_success_modal .great_msg').html(data.message);
                    $('#review_success_modal .great').html('Oops!');
                    $('#review_success_modal').modal('show');
                    setTimeout(function(){
                        $('#review_success_modal').modal('hide');
                    }, 2000);
                }
            }
        });
    }
});

jQuery('.album-list-view ul li .album, .album-list-view ul li .album-title').on('click', function(){
	var albumId = jQuery(this).data('album-id');
	var identifier = '.album-'+albumId;
	jQuery('.album-list-view ul').css('display', 'none');
	jQuery(identifier).css('display', 'block');
});
jQuery('.cancel-images').on('click', function(){
	var albumId = jQuery(this).data('album-id');
	var identifier = '.album-'+albumId;
	jQuery(identifier).css('display', 'none');
	jQuery('.album-list-view ul').css('display', 'block');
});

jQuery(document).delegate('.star', 'click', function(){
	var id = this.id;
	var img = jQuery(this).attr('data-img');
	if(img == 'blank_star'){
		var starIndex = id.split('_')[1];
		var newSrc = '/images/fill_star.png';
		var newImg = 'fill_star';
		for(var i = starIndex; i >= 1; i--){
			var indexId = '#star_'+i;
			jQuery(indexId).attr('src', newSrc);
			jQuery(indexId).attr('data-img', newImg);
		}
		jQuery('#rating').val(starIndex);
	}
	if(img == 'fill_star'){
		var starIndex = id.split('_')[1];
		var newSrc = '/images/blank_star.png';
		var newImg = 'blank_star';
		for(var i = (parseInt(starIndex)+1); i <= 5; i++){
			var indexId = '#star_'+i;
			jQuery(indexId).attr('src', newSrc);
			jQuery(indexId).attr('data-img', newImg);
		}
		jQuery('#rating').val(starIndex);
	}
});
</script>