<div class="container" style="padding-top: 103px;">
  <div class="inner-container">
    <div class="mybreadcrumb"><a href="/">Home</a> > <a href="/vendors">Vendors</a> > <span>{{vendorTitle vendor-type}}</span></div>
    <!--<div class="vendor_filter">
    	<select name="cities" class="cities">
    		<option value="">View All Cities</option>
    	</select>
    	<select name="price_per_plate" class="price_per_plate">
    		<option value="">Price Per Plate</option>
    	</select>
        <select name="venue_type" class="venue_type">
            <option value="">Venue Type</option>
        </select>
        <select name="indoor_capacity" class="indoor_capacity">
            <option value="">Indoor Capacity</option>
        </select>
        <select name="outdoor_capacity" class="outdoor_capacity">
            <option value="">Outdoor Capacity</option>
        </select>
    	<input type="button" name="filter_result" class="filter_result" value="Filter Results" />
    </div>-->
    <div class="page-title">
    	<div class="img"><img src="/images/home-icon.png"/></div>
	    <div class="title">{{vendorTitle vendor-type}} - <span>{{vendors_count}} results</span></div>
    </div>
    
    {{#vendors}}
        {{#checkModulus @index 0 'normal'}}
        <div class="row vendor-cat">
        {{/checkModulus}}
        {{#checkModulus @index 4 'normal'}}
        <div class="row vendor-cat">
        {{/checkModulus}}
            <div class="col-lg-3">
                <a href="/vendors/detail/{{vendor_slug}}"><img class="vendor-ftr" src="{{vendor_image}}"></a>
                <div class="vendor-info">
                    <div class="vendor-name"><a href="/vendors/detail/{{vendor_slug}}">{{vendor_title}}</a></div>
                    <div class="vendor-loc"><img src="/images/location-icon.png"/>{{location}}</div>
                    <div class="vendor-budget"><img src="/images/rupee_icon.png"/>{{min_price}}-{{max_price}}</div>
                    <div class="vendor-rating">
						<div class="vendor_rating" id="vendor_rating">
							{{#each ratingArray}}
								{{#fillOrblank this}}
									<img src="/images/fill_star.png" style="cursor: default;">
								{{else}}
									<img src="/images/blank_star.png" style="cursor: default;">
								{{/fillOrblank}}
							{{/each}}
						</div>
					</div>
                </div>
            </div>
        {{#checkModulus @index 4 'deluxe'}}
        </div>
        <hr class="vlist">
        {{/checkModulus}}
        {{#countMeet @index this.count}}
        </div>
        <hr class="vlist">
        {{/countMeet}}
    {{/vendors}}


    <!--<div class="seeAll">
        <span>See All</span>
        <img src="/images/left_arrow.png" class="arrow-left">
        <img src="/images/arrow_right.png" class="arrow-right">
    </div>-->

  </div>
</div>